<!DOCTYPE html>
<html>
  <head>
    <title>RikuBrand</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
      <div id="header-fixed">
        <div id="header-bk">
          <div id="header"><div class="header">Riku Brand</div></div>
        </div>
      </div>
      <div id="body-bk">
        <div id="body"><%= yield %></div>
      </div>
      <div id="footer-fixed">
        <div id="footer-bk">
          <div id="footer">@copyrights</div>
        </div>
      </div>
  </body>
</html>
